src/main/mule/my-train-customer-sapi-interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <http:listener-config name="my-train-customer-sapi-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="my-train-customer-sapi-config" api="resource::e54e84df-8a66-43dc-983c-829f24ae67e4:my-train-customer-sapi:1.0.4:raml:zip:my-train-customer-sapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="my-train-customer-sapi-main">
        <http:listener config-ref="my-train-customer-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="my-train-customer-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="my-train-customer-sapi-console">
        <http:listener config-ref="my-train-customer-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="my-train-customer-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="patch:\users\(userId)\subscription\(subscriptionId):application\json:my-train-customer-sapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="9edb3135-8810-408f-9f4c-c4de4517cbe6" name="updateSubscriptionStatus" />
    </flow>
    <flow name="patch:\users\(userId):application\json:my-train-customer-sapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="4e0cd35b-57a2-4a60-8d01-3734d4cb34ba" name="updateCustomer" />
    </flow>
    <flow name="get:\users\(userId)\alerts:my-train-customer-sapi-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    alertId: 444,
    emailNotify: "Notified",
    delayStatus: "Delayed",
    statusType: "active",
    estimatedTime: "12:00:00",
    locationName: "LBG",
    "creationDate?": "2021-09-03",
    "createdBy?": "Ben",
    "lastUpdatedDate?": "2021-09-03",
    "lastUpdatedBy?": "John"
  }, 
  {
    alertId: 345,
    emailNotify: "Notified",
    delayStatus: "Delayed",
    statusType: "active",
    estimatedTime: "12:00:00",
    locationName: "LBG",
    "creationDate?": "2021-09-03",
    "createdBy?": "Ben",
    "lastUpdatedDate?": "2021-09-03",
    "lastUpdatedBy?": "John"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\users\(userId)\subscription\(subscriptionId)\alerts:my-train-customer-sapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="fd197d6c-d60f-4f2e-a4b8-ac77696e4b85" name="getAllAlertsBySubscription" />
    </flow>
    <flow name="get:\users\(userId)\subscription:my-train-customer-sapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="95bc9cf5-36f2-457a-8916-f682b8172b17" name="getAllUserSubscriptions" />
    </flow>
    <flow name="get:\users:my-train-customer-sapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="a00bb3ae-b76f-434a-ac5f-7d331b014053" name="getAllCustomerFlow" />
    </flow>
    <flow name="get:\users\(userId)\subscription\(subscriptionId):my-train-customer-sapi-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "output": {
    value: [
      {
        subscriptionId: 1,
        departureTime: "12:30:00",
        arrivalTime: "12:30:00",
        fromStation: "ABC",
        toStation: "DEF",
        startDate: "2020-05-09",
        serviceType: "delayNotification",
        route: "BYI",
        timePeriod: "30 min",
        status: "active",
        "creationDate?": "2021-09-03",
        "createdBy?": "Ben",
        "lastUpdatedDate?": "2021-09-03",
        "lastUpdatedBy?": "John"
      }
    ]
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\users\(userId):my-train-customer-sapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="61ef4ed4-c4be-4c5c-a385-f0c36b3300e8" name="getUserById" />
    </flow>
    <flow name="post:\users\(userId)\subscription\(subscriptionId)\alerts:application\json:my-train-customer-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="e50ac8bb-0e14-4ead-90de-8dda6b4af731" name="addAlerts"/>
    </flow>
    <flow name="post:\users\(userId)\subscription:application\json:my-train-customer-sapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="2fa96f9c-e463-4f1a-ab3d-1a4512499e11" name="addSubscription" />
    </flow>
    <flow name="post:\users:application\json:my-train-customer-sapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="d7d6531e-a947-40cf-b627-501a2235930c" name="addCustomer" />
    </flow>
</mule>
